input[type=radio]{
    display: none;
}

input[type=radio]+label::before{
    content: "";
    display: inline-block;
    background-size: contain;
    width: 140px;
    height: 140px;
}

input[type=radio][value="candy"]+label::before{
    background-image: url(../img/sweets/candy.jpg);
}
input[type=radio][value="gummy"]+label::before{
    background-image: url(../img/sweets/gummy.jpg);
}
input[type=radio][value="chocolate"]+label::before{
    background-image: url(../img/sweets/chocolate.jpg);
}
input[type=radio][value="macaron"]+label::before{
    background-image: url(../img/sweets/macaron.jpg);
}
input[type=radio][value="cake"]+label::before{
    background-image: url(../img/sweets/cake.jpg);
}

input[type=radio][value="berry"]+label::before{
    background-image: url(../img/tastes/berry.jpg);
}
input[type=radio][value="grape"]+label::before{
    background-image: url(../img/tastes/grape.jpg);
}
input[type=radio][value="orange"]+label::before{
    background-image: url(../img/tastes/orange.jpg);
}

input[type=radio][name="sweet"]:checked+label::before{
    border: 5px solid #f00;
    box-sizing: border-box;
}
input[type=radio][name="taste"]:checked+label::before{
    border: 5px solid #00f;
    box-sizing: border-box;
}

.sweets{
    width: 100%;
    display: flex;
}